/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#cart {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#cart h2 {
    margin-top: 0;
}

#cart-items {
    list-style-type: none;
    padding: 0;
}

#cart-items li {
    margin-bottom: 10px;
}

#checkout-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#checkout-btn:hover {
    background-color: #0056b3;
}

#products {
    margin-top: 20px;
}

#product-list {
    list-style-type: none;
    padding: 0;
}

#product-list li {
    margin-bottom: 20px;
    border: 1px solid #ccc; /* Agregamos un borde alrededor de cada producto */
    border-radius: 5px;
    padding: 10px;
    width: 250px; /* Establecemos un ancho fijo para los productos */
}

.product-image {
    width: 200px;
    height: 200px;
    display: block;
    margin: 0 auto 10px; /* Centramos la imagen y añadimos un margen inferior */
}

.product-info {
    display: block;
    text-align: center; /* Centramos el texto */
}

.add-to-cart-btn {
    display: block;
    margin: 0 auto; /* Centramos el botón */
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
}

.add-to-cart-btn:hover {
    background-color: #0056b3;
}
